* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    
    scroll-behavior: smooth;
    background-color: #f7935d;
}

body {
    font-family: 'Inconsolata', monospace;
    cursor: url(assets/cursor\ \(3\).png), auto;
    background-color: #FAFAFA;
    color: #0e1111;
}

#logo-img {
    width: auto;
    height: 180px;
    margin-left: -30px;
    margin-top: -20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
}

button {
    width: 80px;
    height: auto;
    padding: 12px;
    box-shadow: -3px -3px black;
    margin-bottom: 18px;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    border-radius: 4px;
    background-color: #FAFAFA;
}

button:hover {
    box-shadow: 3px 3px black inset;
    color: #f7935d;
    cursor: url(assets/cursor\ \(3\).png), auto;
}

.title {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 8vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title:hover {
    background-color: black;
    color: white;
    cursor: cell;
}

marquee {
    margin: 30px;
    border: solid black;
}

#tag-line {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.bone-cursor:hover {
    cursor: none;
}


.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photos img {
    width: 50%;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.photos img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#work {
    margin: 20px;
}

#play {
    margin: 30px;
    border-left: 2px solid black;
    padding-left: 10px;
    border-right: 2px solid black;
    padding-right: -10px;
}

.bio {
    margin: auto 200px;
    padding-bottom: 15px;
}

ul {
    margin: 30px;
    list-style: lower-greek;
    font-size: 18px;
}

li {
    border-bottom: .1px solid black;
    min-width: 50%;
}

li:hover {
    text-decoration: line-through;
}

.socials {
    margin: 2px;
}

.socials img {
    width: 16px;
    height: auto;
}

footer {
    text-align: center;
    padding: 5px;
}

a {
    text-decoration: none;
    cursor: url(assets/cursor\ \(3\).png), auto;
    color:#0e1111;
}

.animated-letter {
    display: inline-block;
    animation: rotate 2s;
  }


.animated-letter:hover {
    transform: rotate(180deg);
}

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(360deg);
    }
  }